<aside id="secondary" class="sidebar widget-area" role="complementary">
    <section id="search-3" class="widget widget_search">
        <form role="search" method="get" class="search-form" action="/">
            <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search …" value="{$_GET['key']}" name="key">
            </label>
            <button type="submit" class="search-submit"><span class="screen-reader-text">Search</span></button>
        </form>
    </section>
    <section  class="widget widget_archive">
        <h2 class="widget-title"><a href="/index.php/Log">Log</a></h2>
    </section>
    <volist name="firsttnav" id="first">
        <section id="archives-{$first.id}" class="widget widget_archive">
            <h2 class="widget-title">{$first.assortment_name}</h2>
            <ul>
                <volist name="twotnav" id="two">
                    <if condition="$first['id'] eq $two['p_id']">
                        <li>
                            <a href="/?typeid={$two.id}">{$two.assortment_name}</a>&nbsp;({$two.blog_num})
                        </li>
                    </if>
                </volist>
            </ul>
        </section>
    </volist>


    <!--<section id="tag_cloud-3" class="widget widget_tag_cloud">-->
        <!--<h2 class="widget-title">Tags</h2>-->
        <!--<div class="tagcloud">-->
            <!--<ul class="wp-tag-cloud" role="list">-->
                <!--<li>-->
                    <!--<a href="JavaScript:void(0)" class="tag-cloud-link tag-link-79 tag-link-position-45" style="font-size: 1em;">验证码</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</section>-->
</aside>