<!DOCTYPE html>
<html lang="en-US" class="js">
    <include  file="Public:head"/>
<body class="home blog hfeed">
<div id="page" class="site">
    <div class="site-inner">
        <a class="skip-link screen-reader-text" href="JavaScript:void(0)">Skip to content</a>
        <header id="masthead" class="site-header" role="banner">
            <div class="site-header-main">
                <div class="site-branding">
                    <h1 class="site-title"><a href="/" rel="home">Mr.L's Blog</a></h1>
                </div>
                <!-- .site-branding -->
            </div>
            <!-- .site-header-main -->
        </header>
        <!-- .site-header -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <volist name="data" id="item">
                        <article id="post-2250" class="post-2250 post type-post status-publish format-standard hentry category-learning-record">
                            <header class="entry-header">

                                <h2 class="entry-title"><a href="/index/blog?id={$item.id}" rel="bookmark">{$item.title}</a></h2> </header>
                            <!-- .entry-header -->

                            <div class="entry-content">
                                <?php echo html_entity_decode($item["blog"]);?>
                            </div>
                            <!-- .entry-content -->

                            <footer class="entry-footer">
                                        <span class="posted-on">
                                            <span class="screen-reader-text">Posted on </span>
                                            <a href="JavaScript:void(0)" rel="bookmark"><time class="entry-date published updated" datetime="{$item.add_time}">{$item.add_time}</time></a>
                                        </span>
                                        <span class="cat-links">
                                            <span class="screen-reader-text">Categories </span>
                                            <a href="/index?typeId={$item.assortment_id}" rel="category tag">{$item.assortment_name}</a>
                                        </span>
                            </footer>
                            <!-- .entry-footer -->
                        </article>
                    </volist>
                    {$page}
                    <!-- #post-## -->
                </main>
                <!-- .site-main -->
            </div>
            <!-- .content-area -->
            <include  file="Public:nav"/>

        </div>
        <!-- .site-content -->
        <include  file="Public:pagefooter"/>
        <!-- .site-footer -->
    </div>
    <!-- .site-inner -->
</div>
<!-- .site -->
<include  file="Public:footer"/>
</body>

</html>